* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

body {
    background-color: #C3203B;
}

.body {
    
    
}
.fw-qs {
    font-family: 'Quicksand', sans-serif;
}

.fw-pp {
    font-family: 'Poppins', sans-serif;
}
.fw-in {
    font-family: 'Inter', sans-serif;
}
#hero-form {
    max-width: 512px;
    /* width: 30%; */
    border-radius: 10px;
    box-shadow: 3px 3px 10px 8px rgba(0, 0, 0, 0.25);
    padding: 21px 31px;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.h-txt {
    font-size: 19px;
    font-weight: 600;
}
.m-txt {
    font-size: 16px;
}
.fh-text {
    color: #565656;
    font-weight: 600;
    font-size: 16px;
}
.m-txt-container {
    background-color: #CBCBCB;
    padding: 7px 22px;
    border-radius: 5px;
}
.label {
    margin-left: 0.2rem;
    color: #565656;
    font-size: 14px;
    font-weight: 600;
}
label {
    margin-bottom: 0;
}
.form-main {
    display: grid;
    grid-template-areas:
    "f0 f0"
    "l1 l1"
    "f2 r2"
    "f3 f3"
    "l4 l4"
    "f5 f5"
    "l6 r6"
    "l7 r7"
    "l8 l8"
}

.tupv {
    grid-area: f0;
}
.names {
    grid-area: l1;
    display: grid;
    grid-template-columns: 1fr 1fr .25fr;
}
.bdate {
    grid-area: f2;
}
.cv {
    grid-area: r2;
}
.email {
    grid-area: f3;
}
.pnumber {
    grid-area: l4;
}
.address {
    grid-area: f5;
}
.y-grad {
    grid-area: l6;
}
.p-grad {
    grid-area: r6;
}
.c-prof {
    grid-area: l7;
}
.c-name {
    grid-area: r7;
}
.button-div {
    grid-area: l8;
}
form div {
    margin-bottom: 0.5rem;
}
#tup-logo {
    width: 70px;
}

@media (max-width: 512px) {
    #hero-form {
        width: 93%;
    }
}

